{{ partial:layout/container }}
  <div class="flex flex-col gap-y-30 xl:gap-y-45">
    <a 
      href="/projekte"
      title="zurück zur Projekt-Übersicht"
      class="inline-flex items-center gap-x-10 leading-none w-auto no-underline">
      {{ partial:icons/chevron-left class="block w-7 h-auto mt-2" }}
      <span>zurück zur Projekt-Übersicht</span>
    </a>

    <h1 class="text-2xl md:text-3xl !mb-0">
      {{ title }}
    </h1>

    <div class="flex flex-col gap-y-30 xl:grid xl:grid-cols-12 xl:gap-x-16">
      {{ if text }}
        <div class="xl:col-span-8 2xl:col-span-9 2xl:max-w-5xl xl:pr-60">
          {{ text }}
        </div>
      {{ /if }}

      <div class="flex flex-col xl:col-span-4 2xl:col-span-3 gap-y-30">

        {{ if tags || periode }}
          <div class="">

            {{ if periode }}
              <h2 class="text-sm xl:text-md mb-0">
                Jahr
              </h2>
              {{ periode }}
            {{ /if }}

            {{ if tags }}
              <h2 class="text-sm xl:text-md mb-0 !mt-30">
                Leistungen
              </h2>
              {{ tags }}
                <div>{{ title }}</div>
              {{ /tags }}
            {{ /if }}

          </div>
        {{ /if }}

        {{ if credits }}
          <div class="">
            {{ credits }}
          </div>
        {{ /if }}

      </div>
    </div>
  </div>
{{ /partial:layout/container }}

{{ if gallery_images }}
  {{ partial:components/media/gallery :images="gallery_images" }}
{{ /if }}