<div 
  x-cloak 
  x-show="menu"
  class="bg-white xl:bg-transparent fixed xl:relative left-0 top-0 h-dvh xl:h-auto w-full flex flex-col xl:!block pb-30 xl:pb-0"
  :class="menu ? 'overflow-y-auto xl:overflow-visible' : ''">
  <a 
    href="javascript:;" 
    x-on:click="menu = ! menu" 
    title="{{ "Menü anzeigen" | trans }}"
    :class="{ 'is-active': menu === true }"
    class="fixed top-32 left-33 md:left-83 block mx-auto w-28 h-auto xl:hidden">
    {{ partial:icons/cross class="w-full h-auto" }}
  </a>
  <nav class="mt-145 md:mt-[240px] md:max-w-3xl xl:max-w-none xl:mt-0">
    <ul class="flex flex-col xl:flex-row gap-y-25 md:gap-y-45 xl:gap-y-0 xl:gap-x-40 px-30 md:px-80 xl:px-0">
      {{ nav:main }}
        {{ partial:menu/items/parent }}
      {{ /nav:main }}

      {{ if button_jobs:is_visible }}
        <li class="xl:py-7 hidden xl:list-item" >
          <a 
            href="{{ button_jobs:link }}" 
            class="bg-sky hover:bg-granite transition-colors rounded-full block leading-none text-white font-bold xl:text-lg xl:py-8 xl:px-15"
            target="{{ is_external ? '_blank' : '_self' }}"
            aria-label="{{ button_jobs:link_text }}"
            title="{{ button_jobs:link_text }}">
            {{ button_jobs:link_text }}
          </a>
        </li>
      {{ /if }}
    </ul>
  </nav>
</div>