{{ if type == 'intro_visual' }}
  {{ partial:components/elements/intro_visual :image="image" }}
{{ /if }}

{{ if type == 'texteditor' }}
  {{ partial:components/elements/texteditor }}
{{ /if }}

{{ if type == 'image_gallery' }}
  {{ partial:components/elements/image_gallery }}
{{ /if }}

{{ if type == 'team_listing' }}
  {{ partial:team/listing }}
{{ /if }}

{{ if type == 'info_panels' }}
  {{ partial:components/panels }}
{{ /if }}

{{ if type == 'contact' }}
  {{ partial:components/contact }}
{{ /if }}

{{ if type == 'projects' }}
  {{ partial:projects/listing }}
{{ /if }}



  

