<body 
  class="antialiased font-source-sans text-granite bg-white text-sm xl:text-md leading-[1.55] flex flex-col justify-center min-h-dvh {{ page_class }}" 
  x-data="{ menu: false, subMenuId: null }">
  <a 
    href="javascript:;"
    class="w-20 h-26 lg:w-40 lg:h-50 flex items-center justify-center fixed left-5 lg:left-10 bottom-15 lg:bottom-10 z-50 group"
    data-btn-scroll-down>
    {{ partial:icons/arrow-down class="w-16 lg:w-20 h-auto group-hover:translate-y-5 transition-all duration-300 ease-in-out" }}
  </a>
  {{ slot:header }}
  {{ slot }}
  {{ slot:footer }}
</body>