<footer class="bg-granite text-white">
  {{ partial:layout/container class="py-60 md:pt-60 md:pb-90" }}

  <div class="md:grid md:grid-cols-8 xl:grid-cols-12 md:gap-x-16">

    <div class="md:col-span-4 xl:col-span-3 mb-40 md:mb-0">
      <address class="not-italic leading-[1.55]">
        <div>
          {{ if contact_information:address }}
            {{ contact_information:address | nl2br }}
          {{ /if }}
        </div>
        {{ if contact_information:email }}
          <div>
            <a 
              href="mailto:{{ contact_information:email }}" 
              title="Schreiben Sie uns" 
              class="no-underline hover:underline decoration-1 underline-offset-4" 
              target="_blank">
              {{ contact_information:email }}
            </a>
          </div>
        {{ /if }}
        {{ if contact_information:phone }}
          <div>
            <a 
              href="tel:{{ contact_information:phone }}" 
              title="Rufen Sie uns an" 
              class="no-underline hover:underline decoration-1 underline-offset-4" 
              target="_blank">
              {{ contact_information:phone }}
            </a>
          </div>
        {{ /if }}
      </address>
    </div>
    
    <div class="md:col-span-4 md:flex md:flex-col md:justify-between">
      <div class="flex items-center gap-x-12">
        {{ if contact_information:linkedin_url }}
          <a
            href="{{ contact_information:linkedin_url }}"
            target="_blank"
            rel="noopener noreferrer"
            title="nimeg ag auf LinkedIn">
            {{ partial:icons/linkedin }}
          </a>
        {{ /if }}
        {{ if contact_information:instagram_url }}
          <a
            href="{{ contact_information:instagram_url }}"
            target="_blank"
            rel="noopener noreferrer"
            title="nimeg ag auf Instagram">
            {{ partial:icons/instagram }}
          </a>
        {{ /if }}
      </div>
      <nav class="mt-20 md:mt-0 leading-[1.55]">
        <ul>
          {{ nav:footer }}
            <li>
              <a
                href="{{ url }}" 
                title="{{ title }}"
                class="no-underline hover:underline decoration-1 underline-offset-4">
                {{ title }}
              </a>
            </li>
          {{ /nav:footer }}
          <li class="xl:hidden">
            &copy; {{ now | format('Y') }} nimeg ag
          </li>
        </ul>
      </nav>
    </div>

    <div class="hidden xl:col-span-5 xl:flex xl:flex-col xl:justify-end xl:items-end">
      &copy; {{ now | format('Y') }} nimeg ag
    </div>

  </div>

  {{ /partial:layout/container }}
</footer>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0KXQLFH88Q"></script> 
<script>
  window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-0KXQLFH88Q');
</script>
{{ vite src="resources/js/app.js" }}
