<footer class="bg-granite text-white">
  {{ partial:layout/container }}
    <address class="not-italic">
      nimeg ag<br>
      Täfernstrasse 14a<br>
      5405 Baden Dättwil <br>
      <a href="mailto:info@nimeg.com" title="Schreiben Sie uns" class="no-underline hover:underline underline-offset-2" target="_blank">info@nimeg.com</a><br>
      <a href="tel:+41628735025" title="Rufen Sie uns an" class="no-underline hover:underline underline-offset-2" target="_blank">+41 62 873 50 25</a>
    </address>
  {{ /partial:layout/container }}
</footer>
{{ vite src="resources/js/app.js" }}
{{ livewire:scripts }}