{{ partial:layout/container class="contact" }}
  <h1>Kontakt</h1>
  <div class="xl:grid xl:grid-cols-12 xl:gap-32">
    <div class="xl:col-span-4">
      <address class="not-italic leading-[1.55]">
        <div>
          {{ if contact_information:address }}
            {{ contact_information:address | nl2br }}
          {{ /if }}
        </div>
        {{ if contact_information:phone }}
          <div>
            <a 
              href="tel:{{ contact_information:phone }}" 
              title="Rufen Sie uns an" 
              class="no-underline hover:underline decoration-1 underline-offset-4" 
              target="_blank">
              {{ contact_information:phone }}
            </a>
          </div>
        {{ /if }}
        {{ if contact_information:email }}
          <div>
            <a 
              href="mailto:{{ contact_information:email }}" 
              title="Schreiben Sie uns" 
              class="no-underline hover:underline decoration-1 underline-offset-4" 
              target="_blank">
              {{ contact_information:email }}
            </a>
          </div>
        {{ /if }}
      </address>
      {{ if lead }}
        <div class="mt-60">
          {{ lead }}
        </div>
      {{ /if }}
    </div>
    <div class="xl:col-span-8">
      {{ if contact_person }}
        <div class="mt-60 xl:mt-10 flex flex-col gap-y-40 md:grid md:grid-cols-12 md:gap-x-16 md:gap-y-40 xl:gap-16">
          {{ contact_person }}
            {{ partial:team/card :isContact="1" class="md:col-span-6 2xl:col-span-4" }}
          {{ /contact_person }}
        </div>
      {{ /if }}
    </div>
  </div>
{{ /partial:layout/container }}

{{ if access || map }}
<div class="bg-sky/20 mt-60 xl:mt-90 pb-60 md:pb-90">
  <div class="xl:grid xl:grid-cols-12 xl:gap-32 px-30 md:px-80 xl:px-120 max-w-page mx-auto">
    {{ if access }}
      <div class="pt-60 xl:col-span-4 [&_h2]:text-2xl md:[&_h2]:text-3xl xl:[&_h2]:text-4xl">
        {{ access }}
      </div>
    {{ /if }}
    {{ if map }}
      <div class="pt-60 md:pt-90 md:px-80 xl:col-span-8 xl:col-start-5 xl:flex xl:flex-col xl:justify-center">
        {{ partial:components/media/image :image="map"}}
      </div>
    {{ /if }}
  </div>
</div>
{{ /if }}