{{ if images }}
  <div class="container max-w-page mx-auto md:px-80 xl:px-120">
    <div class="flex flex-col gap-y-16 md:grid md:grid-cols-12 md:gap-16">
      {{ images }}
        <a 
          data-fancybox="gallery" 
          href="{{ glide:url preset="gallery-xl"}}"
          class="md:col-span-6 xl:col-span-4 2xl:col-span-3 group">
          <figure>
            <picture>
              <source media="(min-width: 1024px)" srcset="{{ glide:url preset="thumbnail-lg-webp" }}" type="image/webp">
              <source media="(min-width: 1024px)" srcset="{{ glide:url preset="thumbnail-lg" }}" type="image/jpeg">
              <source srcset="{{ glide:url preset="thumbnail-sm-webp" }}" />
              <img
                src="{{ glide:url preset="thumbnail-sm" }}" 
                alt="{{ alt }}" 
                title="{{ alt }}" 
                height="{{ height }}" 
                width="{{ width }}"
                class="block w-full h-auto {{ class ?? '' }} group-hover:opacity-75 transition-opacity duration-150"
                loading="lazy">
            </picture>
          </figure>
        </a>
      {{ /images }}
      {{ if splash }}
        <div class="bg-sky text-white flex items-center justify-center text-center text-balance px-20 xl:px-30 md:col-span-6 xl:col-span-4 2xl:col-span-3 group aspect-[365/286]">
          {{ splash }}
        </div>
      {{ /if}}
    </div>
  </div>
{{ /if }}