{{ partial:layout/container }}
  {{ if two_cols }}
    <div class="xl:grid xl:grid-cols-12 xl:gap-x-16">
      {{ if text_left }}
        <article class="xl:col-span-6 {{ text_right ? 'mb-20 xl:mb-0' : ''}}">
          {{ partial:components/elements/editor :content="text_left" }}
        </article>
      {{ /if }}
      {{ if text_right }} 
        <article class="xl:col-span-6 {{ text_left ? 'xl:mt-2' : ''}}">
          {{ partial:components/elements/editor :content="text_right" }}
        </article>
      {{ /if }}
    </div>
  {{ else }}
    <div class="xl:grid xl:grid-cols-12 xl:gap-x-16">
      {{ if text }}
        <article class="xl:col-span-6">
          {{ partial:components/elements/editor :content="text" }}
        </article>
      {{ /if }}
    </div>
  {{ /if }}
{{ /partial:layout/container }}